---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  METALLB_LB_RANGE: 192.168.129.50-192.168.129.59
  METALLB_TRAEFIK_ADDR: 192.168.129.50
  NAS_ADDR: 192.168.129.10
  SONOS_SEED_ADDR: 192.168.129.145
