---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valheim-config
  namespace: games
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn
